<?xml version="1.0"?>

<!--
/**
 * (c) Lucas van Staden <sales@proxiblue.com.au>
 *
 * This source file is subject to the MIT license that is bundled
 * with this source code in the file LICENSE.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <proxiblue_multimenu>
            <general>
                <depth>3</depth>
            </general>
        </proxiblue_multimenu>
    </default>
</config>
