<?xml version="1.0"?>

<!--
/**
 * (c) Lucas van Staden <sales@proxiblue.com.au>
 *
 * This source file is subject to the MIT license that is bundled
 * with this source code in the file LICENSE.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="ProxiBlue_MultiMenu" setup_version="1.0.6">
        <sequence>
            <module name="Hyva_Theme"/>
        </sequence>
    </module>
</config>

