.fixed-position {
    position: fixed;
}

.page-header .nav-desktop li > ul {
    transform: translatex(100%) scale(0);
    min-width: 400px;
}

.page-header .nav-desktop li:hover > ul.slide-to-right {
    transform: translatex(100%) scale(1);
}

.page-header .nav-desktop li:hover > ul.slide-to-left {
    transform: scale(1);
    z-index: 60;
    text-align: right;
}

.page-header .nav-desktop li > button svg {
    transform: rotate(-90deg)
}

.page-header .nav-desktop li:hover > button svg {
    transform: rotate(-270deg)
}

.page-header .nav-desktop .group:hover .group-hover\:scale-100 {
    transform: scale(1);
}

.page-header .nav-desktop .group:hover .group-hover\:-rotate-180 {
    transform: rotate(180deg);
}

.page-header .nav-desktop .scale-0 {
    transform: scale(0)
}

.page-header .nav-desktop .min-w-32 {
    min-width: 8rem
}

.mobile-scroll {
    height: 100vh;
    overflow-y: auto;
}

.page-header .nav-mobile ul, .page-header .nav-mobile li {
    padding-right: 0px;
    width: 100%;
    transform: scale(0);
}

.page-header .nav-mobile button {
    padding-right: 0.75rem;
}

.page-header .nav-mobile li, .page-header .nav-mobile button {
    text-align: left;
    width: 100%;
}

.page-header .nav-mobile svg.control {
    border-width: 1px;
    height: 2.25rem;
    width: 2rem;
}

.page-header .nav-mobile button svg.control {
    transform: rotate(-90deg);
}

.page-header .nav-mobile button.menu-active svg.control {
    transform: rotate(0deg);
}

.page-header .nav-mobile ul.open-down {
    transform: scale(1);
    border-style: none;
    margin-bottom: 0.5rem;
    position: relative;
}

.page-header .nav-mobile ul.open-down > li {
    transform: scale(1);
}

.page-header .nav-mobile .sub-indicator {
    border-style: none;
    display: inline;
    transform: rotate(0deg);
}

