.page-header .nav-desktop li > ul {
    transform: translatex(100%) scale(0)
}

.page-header .nav-desktop li:hover > ul.slide-to-right {
    transform: translatex(100%) scale(1);
}

.page-header .nav-desktop li:hover > ul.slide-to-left {
    transform: scale(1);
    left: -300px;
    z-index: 60;
    max-width: 300px;
}

.page-header .nav-desktop li > button svg {
    transform: rotate(-90deg)
}

.page-header .nav-desktop li:hover > button svg {
    transform: rotate(-270deg)
}

.page-header .nav-desktop .group:hover .group-hover\:scale-100 {
    transform: scale(1);
}

.page-header .nav-desktop .group:hover .group-hover\:-rotate-180 {
    transform: rotate(180deg);
}

.page-header .nav-desktop .scale-0 {
    transform: scale(0)
}

.page-header .nav-desktop .min-w-32 {
    min-width: 8rem
}
